.container {
  height: 100vh;
  background-color: var(--bg-color-alt);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;

  padding: 4rem;
  position: relative;
}

.content__left,
.content__right {
  width: 80%;
}

.content__left {
  justify-self: flex-end;
}

.image__left {
  position: relative;
  height: 45%;

  transform: translateX(-20%);
}

.content__right {
  justify-self: flex-start;
}

.image__right {
  position: relative;
  height: 45%;

  transform: translateX(20%);
}

.info {
  background-color: red;
}

.form__container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.form__order {
  background-color: var(--bg-color);
  color: var(--text-light);
  padding: 2rem 0;
  text-align: center;
}

.number {
  color: var(--text-alt);
}

.info {
  background-color: var(--bg-color-gray);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  text-align: center;
  padding: 2rem 1rem;
}

.request a {
  font-size: var(--font-lg);
}
