.form {
  /* width: 30vw; */
  background-color: var(--bg-color);
  color: var(--text-light);
}

.form input {
  background-color: var(--bg-color-alt);
  padding: 0.5rem;
  flex-grow: 1;
  border: none;
}

.form input,
.form input::placeholder {
  color: var(--text-light);
}

.form__first {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 2rem 0.5rem 2rem;
}

.form__second {
  display: flex;
  gap: 0.5rem;
  padding: 0 2rem 0.5rem 2rem;
}

.dropdown {
  background-color: var(--bg-color-alt);
  color: var(--text-light);
  flex-grow: 1;
}

.message {
  padding: 0 2rem;
}

.message__text {
  width: 100%;
  height: 5rem;
  background-color: var(--bg-color-alt);
  color: var(--text-light);
}

.message__text::placeholder {
  color: var(--text-light);
}

.date::-webkit-calendar-picker-indicator {
  color: var(--text-light);
}

@media only screen and (max-width: 550px) {
  .form__first {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 2rem 0.5rem 2rem;
  }

  .dropdown {
    padding: 0.5rem 0;
  }

  .form__second {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2rem 0.5rem 2rem;
  }
}
