.cart__wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.cart__container {
  height: 100vh;
  width: 32rem;
  background-color: var(--bg-color-alt);
  border-left: 1px solid var(--text-alt);
  float: right;
  padding: 3rem 0.8rem;
  position: relative;

  color: var(--text-light);
}

.cart__heading {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-md);
  font-weight: var(--font-weight-md);
  color: var(--text-light);
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.heading {
  margin-left: 10px;
}

.num__items {
  margin-left: 0.7rem;
  color: var(--text-alt);
}

.product__container {
  margin-top: 1rem;
  overflow: auto;
  max-height: 70vh;
  padding: 1rem 0.7rem;
}

.product {
  display: flex;
  gap: 1.5rem;
  padding: 0.1rem;
}

.product__image {
  border-radius: 1rem;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

  width: 25%;
  height: 25%;
}

.item__desc {
  width: 20rem;
}

.flex__top {
  display: flex;
  justify-content: space-between;
  width: 19.4rem;
  gap: 0.8rem;
}

.flex__bottom {
  display: flex;
  justify-content: space-between;
  color: var(--text-alt);
  margin-top: 2.4rem;
}

.remove {
  background: none;
  border: none;
  font-size: var(--font-lg);
  color: var(--remove-icon);
}

.cart__bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

  color: var(--text-light);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--font-lg);
}

.total h3 {
  font-weight: var(--font-weight-md);
}

.total p {
  font-weight: var(--font-weight-md);
}

.button__container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  margin-top: 0.6rem;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
