.container {
  background-size: 100%;
  background-repeat: no-repeat;
  backdrop-filter: grayscale(100);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  z-index: -5;
  object-fit: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  z-index: -1;
}

.book {
  width: 5rem;
  height: 5rem;

  position: absolute;
  bottom: 10%;
  right: 7%;
}

.first {
  font-family: var(--font-family);
  background-color: var(--text-alt);
  border: none;
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  cursor: pointer;
}

.second {
  background-color: var(--bg-color-alt);
  border: 2px solid var(--text-alt);
  width: 5rem;
  height: 5rem;
  transform: rotate(45deg);
}

.icon {
  font-size: 2rem;
}

.book__text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: var(--font-weight-lg);
  letter-spacing: 0.07rem;
  text-align: center;
}
