.container {
  color: #fff;
  /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 1); */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.logo {
  display: flex;
  transform: translateY(-20%);
  justify-self: flex-start;
}

.icon {
  color: var(--text-alt);
  font-size: var(--font-bg);
  align-self: end;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-sm);
  align-self: end;
}

.pages {
  list-style: none;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.pages li {
  color: var(--text-light);
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: var(--font-md);

  transition: all 0.3s ease-out;
}

.pages li:hover {
  color: var(--text-alt);
}

.buttons {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
  justify-self: flex-end;
}

.cart {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}

.cart__qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 1300px) {
  .pages li {
    padding: 0 1.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .icon {
    font-size: var(--font-res);
  }

  .title {
    font-size: 1.4rem;
    line-height: 0.9;
  }

  .pages li {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 680px) {
  .pages {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}
