.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.info {
  padding: 0 3.6rem;
  height: 4vh;
  font-size: var(--font-md);
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
}

.left,
.address,
.hours,
.right,
.phone,
.mail {
  display: flex;
  align-items: center;
}

.left,
.right {
  gap: 3rem;
  color: var(--text-light);
}

.address,
.hours,
.phone,
.mail {
  gap: 0.4rem;
}

.icon {
  color: var(--text-alt);
}

.icon__diamond {
  color: var(--text-alt);
}

@media only screen and (max-width: 900px) {
  .info {
    padding: 0 1rem;
  }

  .icon__diamond {
    display: none;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: flex-start;
  }

  .right {
    align-items: flex-end;
  }

  .left,
  .right {
    gap: 0rem;
    color: var(--text-light);
  }
}

@media only screen and (max-width: 680px) {
  .container {
    padding: 1rem 0.5rem;
  }
  .info {
    display: none;
  }
}
