.container {
  height: 90vh;
  background-color: var(--bg-color);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.image {
  position: relative;
  height: 30%;
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-sm);
}

.price {
  color: var(--text-alt);
  font-size: var(--font-lg);
  font-weight: var(--font-weight-lg);
}

.desc {
  color: var(--text-gray);
  font-size: var(--font-md);
}
