.container {
  height: 90vh;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-radius: 1.2rem;
  justify-self: flex-end;
}

.content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-sm);
}

.price {
  color: var(--text-alt);
  font-size: var(--font-lg);
  font-weight: var(--font-weight-lg);
}

.desc {
  color: var(--text-gray);
  font-size: var(--font-md);
}
